In [6]:
import pandas as pd

In [7]:
dataset_url = 'https://pycourse.s3.amazonaws.com/banknote_authentication.txt'
dataset_cols = ['variance', 'skewness', 'curtosis', 'entropy', 'not_genuine']

In [8]:
df_banknote_auth = pd.read_csv(dataset_url, sep=',', header=None, names=dataset_cols)
df_banknote_auth.sample(5)

      variance  skewness  curtosis  entropy  not_genuine
811   -0.86339    1.9348   -2.3729 -1.08970            1
211    3.51560   10.1891   -4.2759 -4.97800            0
1268  -3.94110  -12.8792   13.0597 -3.31250            1
949   -3.11580   -8.6289   10.4403  0.97153            1
1274  -2.55260   -7.3625    6.9255 -0.66811            1

In [9]:
df_banknote_auth.to_json('../data/banknote_auth.json', orient='records', lines=True)