In [22]:
import pandas as pd

In [23]:
df_banknote_auth = pd.read_json('../data/banknote_auth.json', orient='records', lines=True)
df_banknote_auth.shape

(1372, 5)

In [24]:
df_banknote_auth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   variance     1372 non-null   float64
 1   skewness     1372 non-null   float64
 2   curtosis     1372 non-null   float64
 3   entropy      1372 non-null   float64
 4   not_genuine  1372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [25]:
df_banknote_auth.head()

   variance  skewness  curtosis  entropy  not_genuine
0   3.62160    8.6661   -2.8073 -0.44699            0
1   4.54590    8.1674   -2.4586 -1.46210            0
2   3.86600   -2.6383    1.9242  0.10645            0
3   3.45660    9.5228   -4.0112 -3.59440            0
4   0.32924   -4.4552    4.5718 -0.98880            0

In [26]:
df_banknote_auth.tail()

      variance  skewness  curtosis  entropy  not_genuine
1367   0.40614   1.34920   -1.4501 -0.55949            1
1368  -1.38870  -4.87730    6.4774  0.34179            1
1369  -3.75030 -13.45860   17.5932 -2.77710            1
1370  -3.56370  -8.38270   12.3930 -1.28230            1
1371  -2.54190  -0.65804    2.6842  1.19520            1

In [27]:
df_banknote_auth.sample(5)

     variance  skewness  curtosis  entropy  not_genuine
645   2.92330    6.0464  -0.11168 -0.58665            0
4     0.32924   -4.4552   4.57180 -0.98880            0
689   3.02420   -3.3378   2.58650 -0.54785            0
11    3.98990   -2.7066   2.39460  0.86291            0
861  -2.37970   -1.4402   1.12730  0.16076            1

In [28]:
df_banknote_auth.describe()

          variance     skewness     curtosis      entropy  not_genuine
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [29]:
df_banknote_auth.nunique()

variance       1338
skewness       1256
curtosis       1270
entropy        1156
not_genuine       2
dtype: int64

In [30]:
df_banknote_auth.corr()

             variance  skewness  curtosis   entropy  not_genuine
variance     1.000000  0.264026 -0.380850  0.276817    -0.724843
skewness     0.264026  1.000000 -0.786895 -0.526321    -0.444688
curtosis    -0.380850 -0.786895  1.000000  0.318841     0.155883
entropy      0.276817 -0.526321  0.318841  1.000000    -0.023424
not_genuine -0.724843 -0.444688  0.155883 -0.023424     1.000000

In [32]:
df_banknote_auth['not_genuine'].value_counts(normalize=True) * 100

0    55.539359
1    44.460641
Name: not_genuine, dtype: float64